.inputContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.input {
  box-shadow: 8px;
  margin-right: 15px;
}
.mainContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
